.navbar-header {
  width: 150px;
  margin-right: 35px;
}
#logoLink,
#loginLink {
  display: block;
  padding-top: 24px;
}
#headerLogo {
  width: 50%;
}
#topSearch {
  color: #fff;
}
#mainBody {
  margin-top: 120px;
}
#mainNav li a {
  width: 100%;
  text-align: left;
}
