.clearfix.col-md-12(style="margin-bottom:25px", ng-repeat="accepted in accepteds")
	.col-md-9
		.card.card-nav-tabs
			.header.header-primary
				.nav-tabs-navigation
					.nav-tabs-wrapper
						ul.nav.nav-tabs
							li 
								a 
									i.material-icons thumb_up
									| {{ accepted._tpayer.firstName }} {{ accepted._tpayer.lastName}} - 
									strong {{ accepted.quote | currency }}
							li.pull-right.text-right
								a.btn.btn-warning.btn-sm.btn-raised(href="/connect/accepted/{{ accepted._id}}") 
									i.material-icons launch
									|View                        	
			.content
				table.table
					thead
						tr
							th Status
							th AGI
							th Fed. Tax
							th St. Tax
							th Student
							th Dep.
					tbody
						tr
							td {{ accepted._tpayer.filingStatus}}
							td {{ accepted._tpayer.income[0].income + accepted._tpayer.income[1].income + accepted._tpayer.income[2].income + accepted._tpayer.income[3].income | currency}}
							td {{ accepted._tpayer.income[0].fdTax + accepted._tpayer.income[1].fdTax + accepted._tpayer.income[2].fdTax + accepted._tpayer.income[3].fdTax | currency }}
							td {{ accepted._tpayer.income[0].stTax + accepted._tpayer.income[1].stTax + accepted._tpayer.income[2].stTax + accepted._tpayer.income[3].stTax | currency }}
							td {{ accepted._tpayer.student | yesNo}}
							td {{ accepted._tpayer.numDdep }}	
	.col-md-3
		ul.list-unstyled(style="padding-top:55px")
			li.text-warning
				small Created
			li {{ accepted.createTime | date }}
			hr
			li.text-warning
				small 
					i.material-icons(style="font-size:12px") access_time
					| &nbsp;&nbsp;Elapsed
			li 1 day, 2:00