extends ../includes/applayout

block head
	nav.navbar.navbar-primary.navbar-fixed-top
		.container
			.row
				.col-md-3
					a(href="/app", id="logoLink") 
						img(src="/img/logo_white.png", id="headerLogo")
				.col-md-9
					ul.nav.navbar-nav.col-md-9(ng-include="'/partials/header/search'")						
					ul.nav.navbar-nav.navbar-right.nav-tabs(ng-include="'/partials/header/account'")						
block nav
	.col-md-3(ng-include="'/partials/main/sidebar'")
		