extends ../includes/applayout

block content
	.container
		.row
			include ../../public/app/modules/connect/sidenav/sidenav
			.col-md-9(ng-view)
block footer
	footer.container.text-center
		p &copy; 2016 Advent Software