doctype
html(lang="en")
    head
        title Reconnect App
        include head
    body(ng-app="app")
<<<<<<< HEAD
        include ../../public/app/header/header
        section.wrapper(id="mainBody")
            .container
                .row
                    include ../../public/app/sidenav/sidenav
                    .col-md-9(ng-view)
        block footer
        include ../../public/app/footer/appscripts
=======
        include ../includes/mainNav
        .wrapper
            .header.header-filter(style="background-image: url('img/city.jpg');background-size: cover; background-position: top center;")
                .container
                    .row(ng-view)                        
                include ../includes/footer
        include ../../public/app/footer/appscripts
>>>>>>> a866b07dd2eb8fe11ffdcd5b79d2ec41ae47c2e8
