doctype
html(lang="en")
    head
        title Advent Software Authenticate
        include ../includes/head
    body.login-page(ng-app="app")
        include ../includes/mainNav
        .page-header.header-filter(style="background-image: url('img/city.jpg');background-size: cover; background-position: top center;")
            .container
                .row(ng-view)                        
            include ../includes/footer
        include ../../public/app/components/footer/appscripts
