doctype
html(lang="en")
    head
        title Reconnect App
        include head
    body(ng-app="app")
        include ../includes/mainNav
        .wrapper
            .header.header-filter(style="background-image: url('img/city.jpg');background-size: cover; background-position: top center;")
                .container
                    .row(ng-view)                        
                include ../includes/footer
        include ../../public/app/footer/appscripts
