doctype
html
	head
		title Login to My Office
		include ../includes/head
	body.signup-page
		include ../includes/mainNav
		.wrapper
			.header.header-filter(style="background-image: url('img/city.jpg');background-size: cover; background-position: top center;")
				.container
					.row
						.col-md-4.col-md-offset-4.col-sm6.col-sm-offset-3
							.card.card-signup
								.header.header-primary.text-center
									h4 My Office
								p.text-divider Advent Software Corp.
								.content
									p(style="padding:0")
										span &raquo;&nbsp;Login Here for Access to 
											strong My Office
											|, &nbsp;
											strong Advent Connect
											|, &nbsp;
											strong Secure GFS
									hr
									ul.list-unstyled
										li
											a.btn.btn-primary.btn-raised(href="/access/signin") 
												i.fa.fa-lock
												| &nbsp;&nbsp;Log In
										li 
											a.btn.btn-primary.btn-raised(href="/access/signup") 
												i.fa.fa-pencil
												| &nbsp;&nbsp;Sign up										
									div.clearfix
									hr
									ul.list-unstyled
										li
											a.btn.btn-primary(href="http://adventtax.pro") 
												i.fa.fa-arrow-left 
												| &nbsp;&nbsp;Back to Website

				include ../includes/footer
		include ../../public/app/footer/appscripts
				