nav.navbar.navbar-primary.navbar-fixed-top
		.container
			.row
				.col-md-3
					a(href="/choice/", id="logoLink") 
						img(src="/img/logo_white.png", id="headerLogo" style="position:relative;top:10px")
				.col-md-9
					.nav.navbar-nav.nav-tabs.navbar-left(style="")
						h4.title(style="color:white;position:relative;left:12px;top:4px") #{product}
					ul.nav.navbar-nav.navbar-right.nav-tabs
						li.dropdown
							a.btn.dropdown-toggle.btn-simple(id="loginLink", data-toggle="dropdown", ara-expanded="false") #{ user.fname } &nbsp;&nbsp;
								b.caret 
								.ripple-container
							ul.dropdown-menu.dropdown-menu-right
								li
									a(href="/app/user/") 
										i.material-icons person
										| Account
								li.divider
								li.dropdown-header Products
								li
									a(href="/office/") 
										i.fa.fa-area-chart 
										| &nbsp;&nbsp;&nbsp;My Office
								li
									a(href="/connect/") 
										i.fa.fa-newspaper-o
										| &nbsp;&nbsp;&nbsp;A.Connect
								li
									a(href="/gfs/") 
										i.fa.fa-archive
										| &nbsp;&nbsp;&nbsp;Secure GFS
								li.divider
								li
									a(href="/logout") 
										i.material-icons exit_to_app
										| Logout