li.col-md-12(style="margin-left:10px")							
	.form-group.label-floating.has-info
		label.control-label Type to search...
		input.form-control(type="search", id="topSearch")
		span.form-control-feedback
			i.material-icons search