.col-md-4.col-md-offset-4.col-sm6.col-sm-offset-3
	.card.card-signup
		.header.header-primary.text-center
			h4 Log In
		p.text-divider Advent Software log in
		br
		.content(style="padding:0 40px")
			form(name="signin", novalidate, action="/access/login" method="post")
				.input-group(style="margin-bottom:10px")
					span.input-group-addon
						i.material-icons email
					input.form-control(placeholder="Email...", name="email", id="email", style="padding-left:15px")
				.input-group
					span.input-group-addon
						i.material-icons lock_outline
					input.form-control(type="password", placeholder="Password...", name="password", id="password", style="padding-left:15px")
				.clearfix
				br
				br
				.input-group.text-right.col-sm-12
					input.btn.btn-warning.btn-raised(value="Log In", type="submit")
		.footer.text-right
			p(style="padding-right:30px")
				a(ng-redirect-to="/access/signup", style="color:black") Forgot Password &nbsp;&nbsp;
			br
