.col-md-3
	ul.list-unstyled(id="mainNav", data-spy="affix", data-offset-top="250")
		li
			a.btn.btn-raised.btn-primary(href="/app/")
				i.material-icons supervisor_account
				| &nbsp;&nbsp;&nbsp; HOME 
				span.pull-right 01
				.ripple-container
		li
			a.btn(href="/app/accepted/")
				i.material-icons thumb_up
				| &nbsp;&nbsp;&nbsp; ACCEPTED
				span.pull-right 01
				.ripple-container
		li
			a.btn(href="/app/pending/") 
				i.material-icons timer
				| &nbsp;&nbsp;&nbsp; PENDING
				span.pull-right 7
				.ripple-container