.col-md-3
	ul.list-unstyled(id="uierNav", data-spy="affix", data-offset-top="250")
		li
			a.btn.btn-primary(href="/app/user/account")
				i.material-icons account_circle
				| &nbsp;&nbsp;&nbsp;&nbsp; ACCOUNT
				.ripple-container
		li
			a.btn.btn-primary(href="/app/user/subscriptions")
				i.material-icons check_circle
				| &nbsp;&nbsp;&nbsp;&nbsp; SUBSCRIPTIONS
				.ripple-container
		li
			a.btn.btn-primary(href="/app/user/billing") 
				i.material-icons credit_card
				| &nbsp;&nbsp;&nbsp;&nbsp; BILLING
				.ripple-container