doctype
html(lang="en")
    head
        title #{ title }
        include head
    body(ng-app="app", ng-init='user = "'+user._id+'"')  
        include ../../public/app/components/header/header
        section.wrapper(id="mainBody")
            block content
        block footer
        include ../../public/app/components/footer/appscripts
        block addlscript
