.row
	.col-sm-3
		h3.title Billing Info
	.col-sm-9
		.card
			form
				.content
					p This account is billed to:
					p
						i.fa.fa-cc-visa
						|&nbsp;Visa ending in &nbsp;
						strong 5486
				.footer
					.col-sm-12
						button.btn.pull-right.btn-primary 
							i.fa.fa-credit-card
							|&nbsp;&nbsp;&nbsp;Update Card
.row
	.col-sm-3
		h3.title Payments
	.col-sm-9
		table.table.table-striped
			thead
				tr
					th Date
					th Service
					th Amt.
			tbody
				tr
					td 01/30/2016
					td Quote Accepted
					td $10.00
				tr
					td 02/10/2016
					td Quote Accepted
					td $10.00
				tr
					td 02/15/2016
					td Quote Accepted
					td $10.00
				tr
					td 02/20/2016
					td Quote Accepted
					td $10.00
				tr
					td 03/01/2016
					td Quote Accepted
					td $10.00