.row
	.col-md-2
		ul.nav.nav-pills.nav-pills-primary.nav-stacked.nav-pills-icons
			li.active
				a(href="#usrAccount", data-toggle="tab", role="tab") 
					i.material-icons settings
					| Account
			li
				a(href="#usrSub", data-toggle="tab", role="tab") 
					i.material-icons check_circle
					| Subscription
			li
				a(href="#usrBilling", data-toggle="tab", role="tab") 
					i.material-icons credit_card
					| Billing
	.col-md-10
		.tab-content
			.tab-pane.active(id="usrAccount")
				include account
			.tab-pane(id="usrSub")
				include subscriptions
			.tab-pane(id="usrBilling")
				include billing