.row
	.col-sm-3
		h3.title.text-right Advent Connect
	.col-sm-9
		.card
			form
				.content
					h4.card-title Advent Connect
					h6.description Premium Quote Leads
					h5.description Access to a real-time stream of taxpayers who are looking for tax professionals just like you.
				.footer
					.col-sm-12
						button.btn.btn-primary.pull-right(disabled) 
							i.fa.fa-check
							| &nbsp;&nbsp;Subscribed
.row
	.col-sm-3
		h3.title.text-right Secure GFS
	.col-sm-9
		.card
			form
				.content
					h4.card-title Secure GFS
					h6.description Your clients' documents and files
					h5.description Store and grant access to documents and data to your individual clients throughout the year.
				.footer
					.col-sm-12
						button.btn.btn-primary.pull-right
							i.fa.fa-check
							| &nbsp;&nbsp;Subscribe