.clearfix.col-md-12(ng-repeat="taxpayer in taxpayers", style="margin-bottom:25px")
	.col-md-9
		.card.card-nav-tabs
			.header.header-primary
				.nav-tabs-navigation
					.nav-tabs-wrapper
						ul.nav.nav-tabs
							li 
								a 
									i.material-icons person
									|Taxpayer in 
									strong {{ taxpayer.city }}, {{ taxpayer.state }}
							li.pull-right.text-right
								a.btn.btn-primary.btn-sm.btn-raised(href="/app/tpayer/{{ taxpayer._id }}") 
									i.material-icons launch
									|View                        	
			.content
				table.table
					thead
						tr
							th Status
							th AGI
							th Fed. Tax
							th St. Tax
							th Student
							th Dep(s).
					tbody
						tr
							td {{ taxpayer.filingStatus }}
							td {{ taxpayer.income[0].income + taxpayer.income[1].income + taxpayer.income[2].income + taxpayer.income[3].income + taxpayer.income[4].income | currency}}
							td {{ taxpayer.income[0].fdTax + taxpayer.income[1].fdTax + taxpayer.income[2].fdTax + taxpayer.income[3].fdTax + taxpayer.income[4].fdTax | currency }}
							td {{ taxpayer.income[0].stTax + taxpayer.income[1].stTax + taxpayer.income[2].stTax + taxpayer.income[3].stTax + taxpayer.income[4].stTax | currency }}
							td {{ taxpayer.student | yesNo}}							
							td {{ taxpayer.numDdep }}
	.col-md-3
		ul.list-unstyled(style="padding-top:55px")
			li.text-danger
				small Submitted
			li {{ taxpayer.date | date:'MM/dd/yyyy' }}
			hr
			li.text-danger
				small 
					i.material-icons(style="font-size:12px") access_time
					| &nbsp;&nbsp;Elapsed
			li 1 day, 2:00
