.clearfix.col-md-12(style="margin-bottom:25px")
	.col-md-9
		.card.card-nav-tabs
			.header.header-primary
				.nav-tabs-navigation
					.nav-tabs-wrapper
						ul.nav.nav-tabs
							li 
								a 
									i.material-icons person
									|Taxpayer in 
									strong {{ taxpayer.city }}, {{ taxpayer.state }}                       	
			.content
				h4 Taxpayer information
				table.table
					thead
						tr
							th Filing Status
							th DOB
							th Student
							th Dependents
					tbody
						tr
							td {{ taxpayer.filingStatus }}
							td {{ taxpayer.tpDob | date }}
							td {{ taxpayer.student | yesNo}}
							td {{ taxpayer.numDdep }}
				.clearfix
				br
				br
				h4 Dependent information
				table.table
					thead
						tr
							th #
							th DOB
							th Student
							th Disabled
							th Live with?
					tbody
							tr(ng-repeat="dependent in taxpayer.dependents")
								td {{ $index + 1 }}
								td {{ dependent.depDob | date }}
								td {{ dependent.depStudent | yesNo}}
								td {{ dependent.depDisabled | yesNo}}
								td {{ dependent.depLive | yesNo }}
				.clearfix
				br
				br
				h4 Income information
				table.table
					thead
						tr
							th #
							th Type
							th Income
							th fed Tax
							th St Tax
					tbody
							tr(ng-repeat="income in taxpayer.income")
								td {{ $index + 1 }} 
								td {{ income.inType  }}
								td {{ income.income | currency }}
								td {{ income.fdTax | currency }}
								td {{ income.stTax | currency }}
				br
				hr
				.alert.alert-primary(ng-show="formSubmitted")
					.alert-icon
						i.material-icons done
					button.close(type="button", data-dismiss="alert", aria-label="Close")
						span(aria-hidden="true")
							i.material-icons clear
					b Quote Submitted:&nbsp;&nbsp;
					| A record of this quote will be kept in your&nbsp;
					strong Pending Quotes&nbsp;
					| section until the taxpayer has accepted.
				form(name="newQuote", ng-submit="createQuote()", ng-hide="formSubmitted")
					.col-sm-8
						.form-group.label-floating.has-primary
							label.control-label Enter Quote
							input.form-control(ng-model="quoteAmt", name="quoteAmt", id="quoteAmt", placeholder="$")
							span.form-control-feedback
								i.material-icons attach_money
					.col-sm-4
						input.btn.btn-warning.btn-raised(type="submit", value="Send Quote")

	.col-md-3
		ul.list-unstyled(style="padding-top:55px")
			li.text-warning
				small Submitted
			li {{ taxpayer.date | date }} 
			hr
			li.text-warning
				small 
					i.material-icons(style="font-size:12px") access_time
					| &nbsp;&nbsp;Elapsed
			li 1 day, 2:00
					